<head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-Y836D13S9B"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', '{{ site.google_analytics }}');
  </script>
  <script src="{{ site.baseurl }}{% link assets/wavesurfer.js %}"></script>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>
    {%- if page.title -%}
      {{ page.title }}
    {%- else -%}
      {{ site.title }}
    {%- endif -%}
  </title>

  {%-seo title=false-%}
  {%-feed_meta-%}

  <link rel="shortcut icon" type="image/x-icon" href="{{ site.favicon | relative_url }}" />
  <link rel="stylesheet" href="{{ 'assets/stylesheet.css' | relative_url }}" />
  <link rel="alternate" type="application/rss+xml" title="Preserve This Podcast RSS" href="{{ 'podcast.rss' | absolute_url }}" />
</head>
