// Modals
.modal {
  align-items: center;
  bottom: 0;
  display: none;
  justify-content: center;
  left: 0;
  opacity: 0;
  overflow: hidden;
  padding: $layout-spacing;
  position: fixed;
  right: 0;
  top: 0;

  &.inline {
    position: static;
    width: 100%;
    align-items: inherit;
  }

  &:target,
  &.active {
    display: flex;
    opacity: 1;
    z-index: $zindex-4;

    .modal-overlay {
      background: rgba($bg-color, .75);
      bottom: 0;
      cursor: default;
      display: block;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }

    .modal-container {
      animation: slide-down .2s ease 1;
      position: relative;
      z-index: $zindex-0;
    }
  }

  &.modal-sm {
    .modal-container {
      max-width: $control-width-sm;
      padding: 0 $unit-2;
    }
  }

  &.modal-lg {
    .modal-overlay {
      background: $bg-color-light;
    }

    .modal-container {
      box-shadow: none;
      max-width: $control-width-lg;
    }
  }

  &.modal-fs {
    .modal-overlay {
      background: $bg-color-light;
    }

    .modal-container {
      box-shadow: none;
      max-width: 95vw;
      max-height: 95vh;
    }
  }

  @include respond-to(xs, sm, md) {
    padding: 0;

    &:not(.inline) .modal-container {
      box-shadow: none;
      height: calc(var(--vh, 1vh) * 100);
      max-width: 100vw;
      max-height: calc(var(--vh, 1vh) * 100);
    }
  }
}

.modal-container {
  @include shadow-variant(.2rem);
  background: $bg-color-light;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  max-width: $control-width-md;
  padding: $unit-4;
  width: 100%;
  overflow: auto;

  max-height: calc(var(--vh, 1vh) * 75);

  @include respond-to(all) {
    max-height: calc(var(--vh, 1vh) * 75);
  }
  @include respond-to(xs, sm, md, lg) {
    max-height: calc(var(--vh, 1vh) * 80);
  }

  @include respond-to(xs, sm, md) {
    max-height: calc(var(--vh, 1vh) * 85);
  }

  @include respond-to(xs, sm) {
    max-height: calc(var(--vh, 1vh) * 90);
  }

  @include respond-to(xs) {
    max-height: calc(var(--vh, 1vh) * 95);
  }

  &.modal-fullheight {
    max-height: calc(var(--vh, 1vh) * 100);
  }

  .modal-header {
    color: $dark-color;
    padding: $unit-4;
  }

  .modal-body {
    overflow-y: auto;
    padding: $unit-4;
    position: relative;

    @include respond-to(xs, sm, md) {
      height: 100%;
    }
  }

  .modal-footer {
    padding: $unit-4;
    text-align: right;
  }
}

// class to body to avoid content scrolling
.with-modal {
  overflow: hidden;
}
