---
layout: default
---

<ul class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="{{ "/" | relative_url }}">Home</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{{ "/" | relative_url }}">Favorite Posts</a>
  </li>
  <li class="breadcrumb-item">
    <a href="#">{{ page.title }}</a>
  </li>
</ul>

<article>
  <p class="post-meta">
    <time datetime="{{ page.date }}">{{ page.date | date: site.date_format }}</time>
  </p>

  <h1>{{ page.title }}</h1>

  <div class="content">
    {{ content }}

    <div class="text-right">
      <a href="{{ page.url }}" class="btn btn-link">Оригинал статьи ➡</a>
    </div>
  </div>
</article>
